<div data-table class="container-flex--scroll">
  {{#if hasBlock}}
    <div class="data-table__actions data-table__actions--top">
      {{#if enableSearch}}
        {{text-search filter=filter auto=autoSearch}}
      {{/if}}
      {{yield (hash
        menu=(component 'data-table-menu' data-table=this)
          )
          this}}
    </div>
    {{yield (hash
        content=(component 'data-table-content' content=content noDataMessage=noDataMessage enableSelection=enableSelection enableLineNumbers=enableLineNumbers onClickRow=(optional onClickRow) data-table=this class="container-flex--scroll")
      )
        this}}
  {{else}}
    <div class="data-table__actions data-table__actions--top">
      {{#if enableSearch}}
        {{text-search filter=filter auto=autoSearch}}
      {{/if}}
    </div>
    {{component 'data-table-content' content=content noDataMessage=noDataMessage enableSelection=enableSelection enableLineNumbers=enableLineNumbers onClickRow=(optional onClickRow) data-table=this class="container-flex--scroll"}}
  {{/if}}
</div>

{{#if content}}
  <div class="data-table__actions data-table__actions--bottom">
    <div class="grid">
      <div class="col--6-12 col--8-12--s col--1-1--xs">
      </div>
      <div class="col--6-12 col--4-12--s col--1-1--xs">
        {{number-pagination
            page=page size=size nbOfItems=content.length sizeOptions=sizeOptions
            total=content.meta.count links=content.meta.pagination}}
      </div>
    </div>
  </div>
{{/if}}
